@import './styles/var.css';
@import './styles/reset.css';
#appStoreButton,
#playMarketButton,
#websiteButton {
	display: none;
}

#appStoreButton > img {
	width: 48px;
}

.content {
	position: relative;
	background: linear-gradient(90deg, #e0f7fa, #fff8dc);
	max-width: 600px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 40px;
}

img {
	width: 100%;
	object-fit: contain;
}

.description {
	background-color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 16px;
	box-shadow: 0px -8px 8px 0px rgba(34, 60, 80, 0.2);
	border-radius: 12px 12px 0 0;
}

.description-text {
	font-size: 22px;
}

h1 {
	margin-top: 16px;
	font-weight: 700;
	letter-spacing: 0;
	line-height: 1.5;
	text-align: center;
}

a {
	width: 100%;
	padding: 28px 24px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	text-decoration: none;
	background-color: var(--dark);
	box-shadow: var(--shadow);
}

label {
	height: 40px;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}

span {
	display: block;
	line-height: 2;
	font-size: 16px;
}

label,
span {
	color: var(--light);
}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 28px;
		margin-bottom: 0;
	}

	a {
		padding: 16px;
	}

	#appStoreButton > img {
		width: 32px;
	}

	span {
		font-size: 12px;
	}

	label {
		height: 40px;
		font-size: 12px;
	}

	.description-text {
		font-size: 16px;
	}
}

@media (max-width: 600px) {
	h1 {
		margin-top: 0;
	}

	.content{
		padding: 16px;
	}
}
