@import './styles/var.css';
@import './styles/reset.css';

main {
	width: 100%;
	height: 100%;
	position: relative;
}

.demo {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: none;
}

#androidImg {
	padding-right: 2px;
	padding-left: 4px;
}

section {
	max-width: 600px;
	padding: 32px 16px 16px;
	position: absolute;
	margin: 0 auto;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 16px;
	background: var(--light);
	box-shadow: 0px -16px 16px -8px rgba(34, 60, 80, 0.4);
	border-top: 1px solid grey;
	border-radius: 12px 12px 0 0;
}

h1 {
	font-size: 32px;
	font-weight: 700;
	letter-spacing: -1px;
	line-height: 1.5;
}

h2 {
	font-size: 22px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 1.5;
}

a {
	width: 80%;
	padding: 16px 0;
	display: none;
	align-items: center;
	justify-content: center;
	gap: 16px;
	text-decoration: none;
	background-color: var(--dark);
	border-radius: 16px;
	box-shadow: var(--shadow);
}

a > img {
	width: 40px;
	height: 40px;
	object-fit: contain;
}

#appStoreButton > img {
	width: 48px;
}

label {
	height: 40px;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}

span {
	display: block;
	line-height: 2;
	font-size: 16px;
}

label,
span {
	color: var(--light);
}

@media only screen and (max-width: 768px) {
	main,
	section {
		padding-top: 16px;
	}

	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 18px;
	}

	label {
		height: 40px;
		font-size: 16px;
	}

	span {
		font-size: 12px;
	}
}
